<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'firend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view title="{{item.textDate}}">
  <ion-nav-buttons side="right">
    <a class="button button-icon icon ion-android-share-alt" ng-click="shareIt(item)"></a>
  </ion-nav-buttons>

  <ion-content has-header="true" padding="true">
  <h4>{{item.pubDate}}</h4>
  <h3>{{item.title}}</h3>
  <h4>
    <a href ng-click="go2Uri(item.link)">Още ...</a>
  </h4>
  </ion-content>
</ion-view>
