<ion-view title="{{tabTitle}}">

  <ion-nav-buttons side="right">
    <button class="button button-positive" ng-click="updateNews(true)">
      <i class="icon ion-refresh"></i>Обнови
    </button>
  </ion-nav-buttons>

  <ion-content class="has-header">
    <ion-list>
      <div class="item item-divider item-icon-left">
        <i class="icon ion-clock"></i>
        {{lastUpdate}}
        <span ng-show="badge.show" class="badge badge-assertive">{{badge.count}}</span>
      </div>
      <ion-item ng-repeat="item in news" 
        type="item-text-wrap" 
        ng-href="#/tab/{{route}}/{{item.id}}" 
        class="item-icon-right">
        {{item.title}}
        <i class="icon ion-chevron-right"></i>
      </ion-item>
    </ion-list>
  </ion-content>
 
</ion-view>
