<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="net.vexelon.pravitelstvobg" android-versionCode="13" version="3.2" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>PravitelstvoBG</name>
  <description>
        A simple RSS reader mobile app for http://government.bg.
    </description>
  <author href="http://cordova.io" email="">
        Petar Petrov
    </author>
  <content src="index.html"/>
  <access origin="*"/>
  <preference name="fullscreen" value="false"/>
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="loglevel" value="DEBUG"/>
  <preference name="useBrowserHistory" value="true"/>
  <preference name="exit-on-suspend" value="false"/>
  <preference name="BackupWebStorage" value="none"/>
  <preference name="SplashScreen" value="screen"/>
  <preference name="SplashScreenDelay" value="3000"/>
  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>
  <feature name="SocialSharing">
    <param name="android-package" value="nl.xservices.plugins.SocialSharing"/>
  </feature>

</widget>