body {
	margin: 0;
}

.ui-page { -webkit-backface-visibility: hidden; }

.ui-title {
	text-align: left !important; 
	margin-left: 10px !important;
	
}

#container {
	position: absolute;
	width: 100%;
	height: 100%;
}
    
.blink {
    animation: fade 3000ms infinite;
    -webkit-animation: fade 3000ms infinite;
}

.scrollable {
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
}

.datetime {
	text-align: right;
}
/*****************************/
#wrapper {
	position:absolute; z-index:1;
	top:45px; bottom:48px; left:0;
	width:100%;
	background:#aaa;
	overflow:auto;
}

#scroller {
	position:absolute; z-index:1;
/*	-webkit-touch-callout:none;*/
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	width:100%;
	padding:0;
}

#scroller ul {
	list-style:none;
	padding:0;
	margin:0;
	width:100%;
	text-align:left;
}

#scroller li {
	padding:0 10px;
	height:40px;
	line-height:40px;
	border-bottom:1px solid #ccc;
	border-top:1px solid #fff;
	background-color:#fafafa;
	font-size:14px;
}